<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SOS(Stay Out Safe)</title>
    <link rel="stylesheet" href="/home.css">
</head>
<body>

    <div id="loader" class="loader" style="display: none;">
        <div class="spinner"></div>
    </div>

    <div class="up">
        <header>
            <div class="logo">
                <img src="soslogo.jpg" alt="">
            </div>
        </header>

        <nav>
            <button class="sos" onclick="window.location.href='/emergency'">Emergency</button>
            <a href="/">Home</a>
            <a href="/about">About Us</a>
            <a href="/kwr">Know Your Rights</a>
            <a href="/report">Report</a>
        </nav>

    </div>

    <section class="upper">

        <div class="image1">
            <img src="heroo.png" alt="">
        </div>

        <div class="text">
            <p class="st">Your Safety Our Priority</p>
            <h1 class="lt1">Help Us Bring</h1>
            <div class="midtext">
                <h1 class="ct">Women Safety</h1>
                <h1 class="lt2">To</h1>
            </div>
            <h1 class="lt3">Reality With Us</h1>

            <div class="track">
                <button onclick="window.location.href='/track'">Track</button>
            </div>
        </div>

        

    </section>

    <script src="/loader.js"></script>

</body>
</html>