@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

:root{  
    --border: .1rem transparent rgba(255, 255, 255, 0.596);

}

*{
    font-family: "Nunito", sans-serif;
    margin: 0; padding: 0;
    box-sizing: border-box;
    outline: none; border: none;
    text-decoration: none;
}

*::-webkit-scrollbar{
    height: .5rem;
    width: 1rem;
}

*::-webkit-scrollbar-track {
    background-color: transparent;
}

*::-webkit-scrollbar-thumb{
    background-color: #772feb;
    border-radius: 4rem;
}

*::-webkit-scrollbar-thumb:hover{
    background-color: #742ecf;
}

.spinner {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    position: relative;
    animation: rotate 1s linear infinite
  }
  .spinner::before , .spinner::after {
    content: "";
    box-sizing: border-box;
    position: absolute;
    inset: 0px;
    border-radius: 50%;
    border: 5px solid #FFF;
    animation: prixClipFix 2s linear infinite ;
  }
  .spinner::after{
    border-color: #FF3D00;
    animation: prixClipFix 2s linear infinite , rotate 0.5s linear infinite reverse;
    inset: 6px;
  }

  @keyframes rotate {
    0%   {transform: rotate(0deg)}
    100%   {transform: rotate(360deg)}
  }

  @keyframes prixClipFix {
      0%   {clip-path:polygon(50% 50%,0 0,0 0,0 0,0 0,0 0)}
      25%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 0,100% 0,100% 0)}
      50%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,100% 100%,100% 100%)}
      75%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,0 100%,0 100%)}
      100% {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,0 100%,0 0)}
  }

  .loader {
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 100%;
background: rgba(0, 0, 0, 0.5); /* semi-transparent background */
display: flex;
justify-content: center;
align-items: center;
z-index: 9999;
}


body{
    background: linear-gradient(to bottom, #f1ebeb, #6722e9 90%);
    height: 100vh;
    margin: 0;
}

.up{
    display: flex;
    flex-wrap: wrap;
    padding: .5rem;
    border: var(--border);
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    
}

.up .logo img{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin-right: 1rem;
}

.up nav{
    display: flex;
    align-items: center;
    margin-left: 2rem;
}

.up nav button{
    color: #fffcfc;
    text-decoration: none;
    padding: .5rem;
    margin-left: 2rem;
    border-radius: 5px;
    transition: .3s;
    font-size: 1.2rem;
    background-color: #ec250f;
}

.up nav a{
    color: #1a0e0e;
    text-decoration: none;
    padding: .5rem;
    margin-left: 2rem;
    border-radius: 5px;
    transition: .3s;
    font-size: 1.2rem;
}

.up .button{
    display: flex;
    align-items: center;
    margin-left: 17rem;
    gap: 2rem;
}

.up .button button{
    color: #1a0e0e;
    text-decoration: none;
    padding: .5rem;
    border-radius: 5px;
    transition: .3s;
    font-size: 1.2rem;
}


.up .button button.register{
    color: rgb(243, 231, 231);
    background-color: #6722e9;
    border: var(--border);
    margin-left: 10rem;
}


.upper{
    display: flex;
    align-items: center;
    padding: 1rem;   
}

.upper .image1{
    width: 35rem;
    height: 30rem;
    margin-right: 1rem;
    margin-left: 7rem;
}

.upper .image1 img{
    width: 35rem;
    height: 30rem;
    margin-right: 1rem;
}

.upper .text{
    margin-left: 1rem;
}

.upper .text .st{
    font-size: 1.7rem;
    color: #f7f6f8;
    font-weight: 700;
    
}

.upper .text h1{
    font-size: 3rem;
    color: #000000;
}

.upper .text .midtext{
    display: flex;
    gap: .8rem;
}

.upper .text .midtext .ct{
    color: #f3eaf7;
}

.upper .text .track{
    padding: .7rem;
}

.upper .text .track button{
    padding: .7rem;
    font-size: 1.3rem;
    color: #fefdff;
    font-weight: 600;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #ac2cdf;
    border-radius: 5px;
    padding: 1rem 3rem 1rem 3rem;
}