<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/kwr.css">
</head>
<body>

    <div id="loader" class="loader" style="display: none;">
        <div class="spinner"></div>
    </div>
    <div class="up">
        <header>
            <div class="logo">
                <img src="soslogo.jpg" alt="">
            </div>
        </header>

        <nav>
            <button class="sos" onclick="window.location.href='/emergency'">Emergency</button>
            <a href="/">Home</a>
            <a href="/about">About Us</a>
            <a href="/kwr">Know Your Rights</a>
            <a href="/report">Report</a>
        </nav>

        <div class="button">
            <button class="track" onclick="window.location.href='/track'">Track</button>
        </div>
    </div>
</body>
</html>